# Caches Python / notebooks
__pycache__/
.ipynb_checkpoints/

# Fichiers temporaires Spark / Hadoop
*.crc
_SUCCESS

# Fichiers de données volumineux
*.parquet
*.csv
data/*.csv
data/*.csv.gz
data/*.tsv
data/step1_raw_csv/
data/en.openfoodfacts.org.products.csv.gz

# Artifacts ou résultats intermédiaires
artifacts/
.env
